<p id="notice"><%= notice %></p>

<p class="block">
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<p class="block">
  <strong>Content:</strong>
  <%= @page.content %>
</p>

<p class="block">
  <strong>Permalink:</strong>
  <%= @page.permalink %>
</p>
<%= link_to 'Edit', edit_page_path(@page), class: "button is-warning" %>
<%= link_to 'Back', pages_path, class: "button is-info" %>
